@use "../../assets/style/_variables.scss" as *;

.card-filter {
  border-radius: 20px;
  padding: 10px 0;
  box-shadow: 4px 8px 40px 0 rgba(8, 24, 111, 0.2);
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
