@use "../../assets/style/_variables.scss" as *;

.single-fruit {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  &__title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  &__btn {
    margin-top: 20px;
  }
}
